/EvidenceManagementSystem/nbproject/private/
/EvidenceManagementSystem/dist/
/EvidenceManagementSystem/build/
/EvidenceManager/target/
/EvidenceManager/jaxrs-server-generated-2/target/
/EvidenceManager/jaxrs-server-generated/target/
/EvidenceManager/clientStuff/target/
/EvidenceManager/EvidenceManagerClient/target/
/EvidenceManager/EvidenceManagerServer/target/
/test/nbproject/private/
/EvidenceManager/EvidenceManagerClient/nbproject/
/Cube3D/nbproject/private/